.card__container .img {
	width: 140px;
	height: 140px;
	background-color: rgb(57, 0, 154);
	border-radius: 1.4em;
	text-align: center;
}
div.card__container {
	background-color: 
	#00121D;
	padding: 1em;
	border-radius: 1em;
	font-size: 0.8em;
	display: flex;
	flex-direction: column;
	gap: 0.4em;
	margin: 0.2em 0.6em;
	text-align: center;
	justify-content: center;
	align-items: center;
}

div.card__container h5 {
	opacity: 0.8;
	font-size: 0.7em;
}

div.rating {
	margin: 0;
}

