.App{
	background-color: #001521;
	
}




#root {
	width: 100%;
	height: 100%;

	/* max-width: 1080px; */
	/* padding: 0 10%; */
}



.home div.landing__top {
	margin-top: 0;
	background-color: #00111C;
	width: 100%;
	margin-left: 0%;
	margin-right: 0%;
}

div.hero {
	padding: 4em 1em;
	justify-content: center;
	align-items: center;
	text-align: center;

	display: flex;
	flex-direction: column;
	gap: 1em;
}

div.hero p {
	/* max-width: 720px; */
	opacity: 0.9;
	font-size: 0.8em;
}

div.hero h2 {
	font-size: 1.8em;
}

.hero__actions {
	display: flex;
	gap: 1.4em;
	justify-content: center;
}

.hero__actions button {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.7em;
}

.hero__actions button:hover {
	opacity: 0.9;
}

#primaryAction {
	background-color: greenyellow;
}

#secondaryAction {
	background-color: aqua;
}

div#search {
	display: flex;
	background-color: 
	#061E26;
}

/* general */

#search input {
	width: 80%;
	margin: auto;
	padding: 1em;
	border-radius: 1.6em;
	border: none;
	background-color: 
	#00121D
}

@media screen and (max-width: 720px) {
	#root {
		padding: 0 2%;
	}

	.home > div {
		margin: 0 1em;
	}
}
